<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h5 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:hover {
            background-color: #ddd;
        }

        a {
            color: #4CAF50;
            text-decoration: none;
        }

        a:hover {
            color: #333;
        }
    </style>
</head>

<body>
    <div>
        <h5 style="display: inline">
            <%= title %>
        </h5><span style="display:inline" id='count-overdue'
            class="w-4 h-4 bg-gray-300 text-black px-3 py-1 rounded font-medium mr-2 mb-2">
            <%= data.length %>
        </span>
        <ul class="list none">
            <% for(var i=0; i< data.length;i++) { %>
                <li class="Todo-Item">
                    <div class="flex w-fit my-2 px-2 py-1 items-center hover:bg-purple-50">
                        <p class="SportId" id="<%=data[i].id%>">
                            <%= data[i].SportName %>
                        </p>
                        <a href="#" class="hidden trash-icon ml-2" onclick="deleteSport(<%= data[i].id %>)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        </a>
                    </div>


                </li>
                <% } %>
        </ul>

    </div>
</body>

</html>
