<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");
        function deleteSport(id) {
            fetch(`/admin/createSport/${id}`,
                {
                    method: "delete",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "_csrf": token
                    })
                })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
    </script>
    <title>Sport list</title>
</head>

<body>
    <div>
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <% if(messages && messages.success && messages.success.length > 0)  { %>
                    <% for(var i=0; i<messages.success.length; i++) { %>
                      <p class="bg-green-100 border border-gray-300 p-2 font-medium rounded text-green-900 px-4 py-2"><%= messages.success[i] %></p>
                    <% } %>
                  <% } %>
                  <% if(messages && messages.error && messages.error.length> 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-green-100 border border-gray-300 p-2 font-medium rounded text-red-900 px-4 py-2">
                            <%= messages.error[i] %>
                        </p>
                        <% } %>
                            <% } %>
                    <a href="/signout">Signout</a>
            </div>
            <div class="col-start-3 col-span-2">
                <form action="/cancelSession/<%= sportId%>/<%= sessionId %>" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="reason" placeholder="What's the reason for canceling the session?"
                                class="border border-gray-300 leading-4 rounded text-gray-900 w-full text-sm p-2">
                        </div>
                        <div>
                            <button type="submit"
                                class="bg-red-600 px-5 py-1.5 mr-2 font-medium text-white rounded">Cancel</button>
                        </div>
                    </div>
                </form>
                
                                <div class="col-start-3 col-span-2">

                                </div>
            </div>
        </div>
</body>

</html>
