<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/styles.css">
    <title><%=title%></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <b class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-3 py-1 "><a href="/sport/<%=sport.id%>">Go Back</a></b>
            <b class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-3 py-1 "><a href="/signout">Signout</a></b>
            <h6 class="py-4"><b>Create a new Session</b></h6>
            <form action="/createSession/<%=sport.id%>" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="py-3">
                    <label for="sessionName">Name of <%=sport.title%> Session:</label>
                    <input required  type="text" name="sessionName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="date">Enter Date:</label>
                <input required type="date" name="date" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="time" >Enter Time:</label>
                <input required type="time" name="time" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="venue">Enter Venue:</label>
                    <input required type="text" name="venue" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="names">Who all will be joining you in the session? (Comma Separated)</label>
                    <input required type="text" name="names" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="playersNeeded">How many more players do you need?</label>
                    <input required type="number" name="playersNeeded" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>

                <div class="py-3">
                    <button type="submit" class="text-white bg-purple-600 hover:bg-blue-800 font-medium rounded px-5 py-2">Submit</button>
                </div>
            </form>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <li class="bg-red-200 my-3 list-none rounded px-4 py-2"> <%= messages.error[i] %></li>
                <% } %>
              <% } %>
        </div>
    </div>
</body>
</html>
