<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            background:linear-gradient(to right, #8debff, #6cacff) ; /* Set your desired background color */
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        function deleteSport (id) {
            fetch(`/createSport/${id}`,
            {
            method: "delete",
            headers:{ "Content-Type" : "application/json" },
            body: JSON.stringify({
                "_csrf": token
            })
            })
            .then((res) => {
                if(res.ok){
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
        }
    </script>
    <title>RAY SPORTS-SCHEDULER</title>
</head>
<body>
    <div>
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <% if(messages && messages.success && messages.success.length > 0)  { %>
                    <% for(var i=0; i<messages.success.length; i++) { %>
                      <p class="bg-green-100 border border-gray-300 p-2 font-medium rounded text-green-900 px-4 py-2"><%= messages.success[i] %></p>
                    <% } %>
                  <% } %>
                  <% if(messages && messages.error && messages.error.length> 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-green-100 border border-gray-300 p-2 font-medium rounded text-red-900 px-4 py-2">
                            <%= messages.error[i] %>
                        </p>
                        <% } %>
                            <% } %>
                <%- include('header.ejs',{data:userName}) %>
                <br>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"><a href="/signout">SIGNOUT</a></button>
                <button class="bg-yellow-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"><a href="/resetPassword/<%=userId%>">RESET PASSWORD</a></button>
                <%- include('sportListBase.ejs',{title:"Sport List Information",data:sportListInfo}) %>
            </div>
            <div>
        <%- include('footer.ejs') %>
    </div>
        </div>
    </div>
    <script>
        let spid= document.querySelectorAll(".SportId")
        spid.forEach(element => {
            element.addEventListener("click",(e)=>{
                console.log(e.target.id);
                window.location.href = `/sessionCreate/${e.target.id}/${e.target.userId}/${e.target.SportName}`
            })
        });
    </script>
</body>
</html>
