<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <style>
       .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        background: linear-gradient(to right, #8debff, #6cacff) ; /* Add background color */
        text-align: center; /* Center align the content */
        color:white;
    }</style>
    <title>RAY SPORTS SCHEDULE REPORT</title>
</head>

<body>
    <div class="container">
        <h1>Available Sports <span><%= countSport %></span></h1>
        <% getSportByName.forEach(function(user) { %>
        <p><%= user.SportName %>&nbsp;&nbsp;&nbsp;<span class="text-black">Sport Id: <%= user.id %></span></p>
        <% }) %><br>
    </div>

    <div class="container">
        <h1>Upcoming Sessions</h1>
        <% getAllSessionDetails.forEach(function(user) { %>
        <p><span class="text-black">Sport Name: </span><%= user.SportName %></p>
        <p><span class="text-black">Session Id: </span><%= user.id %></p>
        <p><span class="text-black">Session Date: </span><%= user.date %></p>
        <p><span class="text-black">Session Time: </span><%= user.time %></p>
        <p><span class="text-black">Session Place: </span><%= user.place %></p>
        <p><span class="text-black">Participants: </span><%= user.player %></p>
        <p><span class="text-black">Total Participants: </span><%= user.TotalPlayer %></p>
        <p><span class="text-black">Sport Id: </span><%= user.sportId %></p><br>
        <% }) %><br>
    </div>

    <div class="container">
        <h1>Ongoing Sessions</h1>
        <% getAllTodaySessionDetails.forEach(function(user) { %>
        <p><span class="text-black">Sport Name: </span><%= user.SportName %></p>
        <p><span class="text-black">Session Id: </span><%= user.id %></p>
        <p><span class="text-black">Session Date: </span><%= user.date %></p>
        <p><span class="text-black">Session Time: </span><%= user.time %></p>
        <p><span class="text-black">Session Place: </span><%= user.place %></p>
        <p><span class="text-black">Participants: </span><%= user.player %></p>
        <p><span class="text-black">Total Participants: </span><%= user.TotalPlayer %></p>
        <p><span class="text-black">Sport Id: </span><%= user.sportId %></p><br>
        <% }) %><br>
    </div>

    <div class="container">
        <h1>Played Sessions</h1>
        <% getAllPreviousSessionDetails.forEach(function(user) { %>
        <p><span class="text-black">Sport Name: </span><%= user.SportName %></p>
        <p><span class="text-black">Session Id: </span><%= user.id %></p>
        <p><span class="text-black">Session Date: </span><%= user.date %></p>
        <p><span class="text-black">Session Time: </span><%= user.time %></p>
        <p><span class="text-black">Session Place: </span><%= user.place %></p>
        <p><span class="text-black">Participants: </span><%= user.player %></p>
        <p><span class="text-black">Total Participants: </span><%= user.TotalPlayer %></p>
        <p><span class="text-black">Sport Id: </span><%= user.sportId %></p><br>
        <% }) %><br>
    </div>

    <div class="container">
        <div class="h-full max-h-full flex flex-col items-center content-center p-20">
            <div class="text-black font-bold px-6 py-9 bg-gray-300 rounded-md shadow-2xl">
                <br><a href="/sportList" class="text-center">>Home</a>
            </div>
        </div>
    </div>
</body>

</html>
